/venv/
/.idea/
/build/QtTest/Analysis-00.toc
/build/QtTest/base_library.zip
/build/QtTest/EXE-00.toc
/res/Main.ui
/build/QtTest/PKG-00.pkg
/build/QtTest/PKG-00.toc
/build/QtTest/PYZ-00.pyz
/build/QtTest/PYZ-00.toc
/build/QtTest/QtTest.exe.manifest
/QtTest.spec
/build/QtTest/Tree-00.toc
/build/QtTest/Tree-01.toc
/build/QtTest/warn-QtTest.txt
/build/QtTest/xref-QtTest.html
